.page {
  margin: 0 auto;
  background-color: #202020;
  font-family: 'Inter', Helvetica, sans-serif;
  color: white;
  max-width: 1280px;
  box-sizing: border-box;
}
.page__container {
  margin: 0;
}