.about-project {
    margin: 0;
    background-color: rgba(32, 32, 32, 1);
    color: white;
    padding: 110px 70px;
}

.about-project__title {
    padding-bottom: 23px;
    margin: 0;
    margin-bottom: 70px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px white solid;
}

.about-project__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    text-align: start;
    margin-bottom: 110px;
}

.about-project__subtitle {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.about-project__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 26px;
    margin-bottom: 0;
}
.about-project__bar {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.barline {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 9px 0px;
    margin-top: 0;
}

.barline_theme_green {
    background-color: rgba(61, 220, 132, 1);
    color:black;
}

.barline_theme_grey {
    background-color: rgba(48, 48, 48, 1);
    color: white;
}


.bar__subline {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
    margin-top: 14px;
    margin-bottom: 0;
}

@media screen and (max-width: 769px) {
    .about-project {
        padding: 90px 50px;
    }
    .about-project__content {
        column-gap: 30px;
        margin-bottom: 93px;
    }
    .about-project__text {
        margin-top: 22px;
    }
}

@media screen and (max-width: 450px) {
    .barline_theme_green {
        font-size: 11px;
        line-height: 13px;
        min-width: 100px;
    }
    .barline_theme_grey {
        font-size: 11px;
        line-height: 13px;
    }
    .bar__subline {
        font-size: 11px;
        line-height: 13px;
    }
}

@media screen and (max-width: 340px) {
    .about-project {
        padding: 70px 18px;
    }
    .about-project__title {
        padding-bottom: 28px;
        margin-bottom: 60px;
        font-size: 18px;
    }
    .about-project__content {
        display: flex;
        flex-direction: column;
        gap: 56px;
        text-align: start;
        margin-bottom: 60px;
    }
    .about-project__text {
        margin-top: 16px;
        font-size: 11px;
        line-height: 16px;
    }
    .about-project__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}